
body {
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    background: linear-gradient(to right, rgba(141, 211, 139, 0.41), #e5ffbaff);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.8rem;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    padding: 8px 15px;
}

.logout-btn {
    border-radius: 5px;
    border: 1px solid #dc3545;
    color: #dc3545;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.3s;
}

.logout-btn:hover {
    background-color: #dc3545;
    color: #fff;
}

.footer {
background: linear-gradient(to right, rgba(255, 255, 255, 0.41), #e5ffbaff);
}

.effect:hover{
    background: rgba(79, 240, 146, 0.616);
    
}



.employee-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.card,.gg{
    background: linear-gradient(to right, rgba(184, 247, 189, 0.219), rgba(204, 255, 194, 0.493));
}

.card input,.form-control{
    border:1px solid rgb(245, 196, 196);
    background: rgb(237, 255, 189);
}

.card-buttons button {
    margin-right: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    list-style: none; 
    margin-top:20px;
    padding: 0px;
}

.pagination a {
    padding: 6px 12px;
    margin: 0 3px;
    border: 1px solid #a59e9eff;
    text-decoration: none;
    color: #cf0000ff;
}

.pagination a:hover{
    color:orange;
}

.form-container {
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    background: linear-gradient(to right, rgba(138, 248, 156, 0.534), rgba(154, 253, 192, 0.603));
}

.form-container input{
    border:1px solid rgb(245, 196, 196);
    background: rgb(237, 255, 189);
}

.form-title {
    text-align: center;
    margin-bottom: 25px;
}

.active>.page-link, .page-link.active {
    z-index: 117;
    color: var(--bs-pagination-active-color);
    background-color: #198754;
    border-color: #00000024;
}

.nav-link.active {
    font-weight: bold;
    color: #000000 !important;
}